body {
    font-size: 18px;
}

header {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25)inset;
    height: 50px;
    line-height: 50px;
}

nav ul {
    display: inline-flex;
}

nav ul li {
    margin: 0px 15px;
}

h1, h2 {
    font-weight: 300;
}

h1 {
    font-size: 30px;
    letter-spacing: 5px;
}

h2 {
    font-size: 25px;
    letter-spacing: 2.5px
}

.heading {
    display: flex;
    justify-content: space-between;
}

.container {
    margin-inline: auto;
    width: min(100% - 30px, 1080px);
}